* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input, button, textarea, select {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.header__wrapper .btn {
  padding: 20px 60px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: White;
  font-weight: 700;
  font-size: 17px;
}

body {
  height: 500vh;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(47, 47, 47, 0.5);
          box-shadow: 0 0 10px rgba(47, 47, 47, 0.5);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 49px;
}
.header__wrapper-item {
  font-weight: 600;
  color: #696871;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
}
.header__wrapper-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #5454d4;
  height: 2px;
  width: 0%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__wrapper-item:hover::before {
  width: 100%;
}
.header__wrapper .btn {
  background-color: #ff7143;
}

@media (max-width: 992px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .header__wrapper .header__wrapper--menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 992px) and (max-width: 500px) {
  .header__wrapper .header__wrapper--menu {
    display: none;
    width: 100%;
  }
}
.hero {
  width: 100%;
  background-color: #f8f9fb;
  padding: 4rem 0;
}
.hero .hero_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero .hero_wrapper--left {
  width: 50%;
}
.hero .hero_wrapper--left h1 {
  font-size: 3rem;
  color: #696871;
}
.hero .hero_wrapper--left p {
  margin: 1rem 0;
  color: #696871;
  font-size: 1.3rem;
}
.hero .hero_wrapper--left .btn {
  background-color: #5454d4;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero .hero_wrapper--left .btn:hover {
  opacity: 0.7;
}
.hero .hero_wrapper--right img {
  width: 100%;
  max-width: 500px;
}
@media (max-width: 992px) {
  .hero .hero_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .hero .hero_wrapper--right img {
    max-width: 70%;
  }
}

.partners {
  padding: 4rem 0;
}
.partners .partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partners .partners__wrapper img {
  max-width: 150px;
  opacity: 0.8;
}
.partners .partners__wrapper img:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .partners .partners__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
  .partners .partners__wrapper img {
    max-width: 100px;
  }
}

.subscriptions {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscriptions__wrapper {
  width: 90%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.subscriptions__wrapper--left {
  width: 50%;
}
.subscriptions__wrapper--left img {
  width: 100%;
  max-width: 500px;
}
.subscriptions__wrapper--right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscriptions__wrapper--right h2 {
  font-size: 3rem;
  font-weight: 700;
  max-width: 462px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #696871;
}
.subscriptions__wrapper--right p {
  font-size: 1.2rem;
  max-width: 459px;
  color: #696871;
  line-height: 1.5;
  margin-bottom: 30px;
}
.subscriptions__wrapper--right a {
  color: #5454d4;
  text-decoration: none;
}
.subscriptions__wrapper--right a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .subscriptions__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .subscriptions__wrapper--left, .subscriptions__wrapper--right {
    width: 100%;
    text-align: center;
  }
  .subscriptions__wrapper--left h2,
  .subscriptions__wrapper--left p, .subscriptions__wrapper--right h2,
  .subscriptions__wrapper--right p {
    text-align: center;
  }
  .subscriptions__wrapper--left a, .subscriptions__wrapper--right a {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .subscriptions__wrapper--left img {
    max-width: 80%;
  }
}

.indepth {
  padding: 4rem 0;
}
.indepth .indepth__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.indepth .indepth__wrapper--left {
  width: 50%;
}
.indepth .indepth__wrapper--left h2 {
  font-size: 3rem;
  color: #696871;
}
.indepth .indepth__wrapper--left p {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #696871;
}
.indepth .indepth__wrapper--left a {
  color: #5454d4;
  text-decoration: none;
}
.indepth .indepth__wrapper--left a:hover {
  text-decoration: underline;
}
.indepth .indepth__wrapper--right img {
  padding-right: 50px;
  max-width: 100%;
}
@media (max-width: 992px) {
  .indepth .indepth__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indepth .indepth__wrapper--right img {
    max-width: 80%;
  }
  .indepth .indepth__wrapper--left {
    text-align: center;
  }
  .indepth .indepth__wrapper--left h2,
  .indepth .indepth__wrapper--left p {
    text-align: center;
  }
}

.services {
  background-color: #f8f9fb;
  padding: 4rem 0;
}
.services .services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.services .services__wrapper .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  text-align: center;
  max-width: 300px;
}
.services .services__wrapper .service img {
  max-width: 150px;
  margin-bottom: 1rem;
}
.services .services__wrapper .service h3 {
  font-size: 1.2rem;
  color: #696871;
}
.services .services__wrapper .service p {
  font-size: 0.9rem;
  color: #696871;
}
@media (max-width: 768px) {
  .services .services__wrapper {
    gap: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services .services__wrapper .service {
    max-width: 100%;
  }
}

.products {
  width: 100%;
  padding: 4rem 0;
}
.products__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}
.products .products__info {
  width: 50%;
  text-align: left;
}
.products .products__info h2 {
  font-size: 3rem;
  color: #696871;
}
.products .product__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.products .product__payment .payment__btn {
  background-color: #5454d4;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #5454d4;
}
.products .product__payment .payment__btn:hover {
  opacity: 0.7;
}

.traffic {
  background-color: #f8f9fb;
  padding: 4rem 0;
}
.traffic .traffic__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.traffic .traffic__cards .card__item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  max-width: 300px;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.traffic .traffic__cards .card__item h2 {
  color: #5454d4;
}
.traffic .traffic__cards .card__item p {
  color: #696871;
  margin: 1rem 0;
}
.traffic .traffic__cards .card__item .traffic__btn {
  background-color: #ddd;
  color: #5454d4;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.traffic .traffic__cards .card__item .traffic__btn:hover {
  opacity: 0.7;
}
.traffic .traffic__cards .card__item .traffic__btn:hover {
  background-color: #ff7143;
  color: #5454d4;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}
.traffic .traffic__cards .card__item .traffic__btn:hover:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .traffic .traffic__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .traffic .traffic__cards .card__item {
    max-width: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */